header {

    border: 3px solid black;
    display: flex;
    align-items: center;
    background-color: lab(#00355F);
}



.nav {
    display: flex;
    justify-content: space-evenly;
    align-items: flex-start;
    background-color: blue
}

img {
    width: 200px;
    display: flex;


}

.titre {
    display: flex;
    justify-content: center;
    justify-items: center;
    border: 3px solid black;
    width: 60%;
    background-color: lab(#00355F)
}


.adresse1 {
    display: flex;
    justify-content: center;
    justify-items: right;
    border: 3px solid black;
    width: 100%;
}

.catégorie {
    display: flex;
    justify-content: space-around;
    border: 2px solid black;
}



.parent {

    border: 2px solid black;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
        justify-content: space-between;
    gap: 2rem 2rem;
    width: 100%;
    text-align: center;
    
    

}

.parents>img 
h3 {
    text-align: center;
}

.bouton {

    display: flex;
    justify-content: space-between;
}

.produits {
    width: 25%;
    border: 2px solid black;
 
}
.raquettes{
    border: 2px solid red;
    width: 33%;
    margin: 0 auto;
}